<div class="app-header">
    <app-header></app-header>
</div>
<div class="app-body">
    <!-- day1 -->
    <!-- <app-body></app-body>  -->
    <!-- day2 -->
    <!-- <app-to-do></app-to-do> -->
    <!-- day3 -->
    <!-- <app-cards [cardData]="name"></app-cards> -->
    <!-- <app-cards *ngFor="let i of names" [cardData]="i"></app-cards> -->
    <!-- <app-cards [cardList]="names"></app-cards> -->
    <!-- <p>{{inData}}</p>
    <app-cards [cardList]="names" (cardout)="show($event)"></app-cards> -->
    <!-- <app-products></app-products> -->
    <!-- day4 -->
    <!-- <app-users></app-users> -->
    <!-- <app-login-forms></app-login-forms> -->
    <router-outlet></router-outlet>
</div>
<!-- <div class="app-aside">
    <app-aside></app-aside>
</div> -->
<!-- <div class="app-footer">
    <app-footer></app-footer>
</div> -->