<div style="padding: 0px 250px;" class="mt-4">
    <a type="button" class="btn btn-primary text-white mb-3" [routerLink]="['/new-product']">Add New Product</a>

    <h2>Products</h2>
    <div class="row mb-3">
        <app-card [product]="product" *ngFor="let product of products" class="col-4 m-0" (getfav)="show($event)">
        </app-card>
    </div>

    <h2>Favorites</h2>
    <div class="row mb-3">
        <app-favorites [favoriteproducts]="favoriteProducts" class=" d-flex me-3 col-4"></app-favorites>
    </div>
</div>